<div class="well form400 artist-join">
	<h3><%= t(".title") %></h3>

    <div class="blurb">
        <p>
            We are just getting going.  Sign up here and we'll be in contact.
        </p>
    </div>

	<%= render partial: '/beta_artists/form' %>
</div>
