<div class="well artist-join">
    <div class="blurb">
        <p>
            We are just getting going.  Sign up here and we'll be in contact.
        </p>
    </div>

	<p class="background-line title"><span><%= t(".title") %></span></p>
	<%= render partial: '/beta_artists/form' %>
</div>
