p Hello #{@beta_user.name},
p Thank you for your interest in revolutionizing the music industry!
p We appreciate your patience. To officially join the Beta Team, click on the link below. You’ll be one of the first to remix music using the 8Stem platform.
br
.text-center
  = link_to 'Complete Your Beta Team Registration', app_referral_invite_url(@beta_user.invite_code), {class: 'btn btndiv'}
br
p We’re stoked to have you on board as a founding Beta Team member.
p Get ready!
p 8Stem Beta Team