p
  = "Hello #{@user.name},"
p Reset your password by following this link:
br
.text-center
  = link_to 'Reset Your Password', edit_app_users_password_url(token: @user.confirmation_token.html_safe), {class: 'btn btndiv'}
br
br