<%= simple_form_for @user do |f| %>
	<%= render partial: '/users/form', object: f %>

	<div class="form-group">
		<%= f.submit 'Sign Up' %>
	</div>

	<hr/>

	<div class="form-group text-center">
		Already have an account?  <%= link_to t(".sign_in"), sign_in_path, class: 'btn btn-link' %>
	</div>
<% end %>
