<div class="well form400 artist-join">
<% if session[:invite_code].nil? %>
	<div>Sorry, you must have an invite code to sign up!</div>
<% else %>
    <p class="background-line title"><span><%= t(".title") %></span></p>
    <%= render partial: '/users/form' %>
<% end %>
</div>