<div id="footer">
    <div class="container-fluid">
        <p class="text-muted">
            &copy; 2015 All rights reserved.  8Stem&copy; and Mix8&copy; are registered trademarks.
            <a href="http://8stem.com" target="_blank">8Stem Inc.</a>
        </p>
    </div>
</div>
