<div id="footer">
    <div class="container-fluid">
        <p class="text-muted">
            &copy; 2016 All rights reserved.  8Stem&copy; and Mix8&copy; are registered trademarks.
            <a href="https://8stem.com" target="_blank">8Stem Inc.</a>
        </p>
	</div>
</div>
