<!-- Main player Area Start -->
<div class="row main-player-area">
    <div class="col-md-4"></div>
    <div class="col-md-8">
        <div id="main-player" class="row" data-path="<%=@song.mixed_file%>">
            <div class="full-play-btn"></div>
            <div class="full-waveform">
                <div class="progress"></div>
            </div>
        </div>
    </div>
</div>
<!-- Main player Area End -->

<%= render 'clips/index' %>

<script type="text/javascript">
    function topPlayer(mixedFilePath) {
        window.topWavesurfer = Object.create(WaveSurfer);
        window.topWavesurfer.init({
            container: '.full-waveform',
            fillParent: true,
            height: 42,
            waveColor: 'white',
            progressColor: 'white',
            cursorColor: 'white'
        });
        window.topWavesurfer.on('ready', function (_this) {
            // console.log("Loaded!");
        });

        window.topWavesurfer.on('loading', function (_this, progress) {
            $(_this.container).children(".progress").css("left", progress+"%");
        });
        window.topWavesurfer.load(mixedFilePath);
    }

    function stopMainPlayer() {
        if (window.topWavesurfer) {
            if (!window.topWavesurfer.backend.isPaused()) {
                window.topWavesurfer.pause();
                $(".full-play-btn").removeClass('playing');
            }    
        };
    }

    $(document).ready(function(){
        if ($("#main-player").data('path') != "") {
            var mixedFilePath = $("#main-player").data('path') + "?t="+Date.now();
            topPlayer(mixedFilePath);
        };
        
        $(".full-play-btn").click(function(event){
            event.stopPropagation();
            if (!window.topWavesurfer) {
                return alert("Top player is not ready. Please try later.")
            };

            // Pause other players i.e. part player, clip preview player
            pauseClipPreviewPlayer();
            pausePartPlayer();

            if (window.topWavesurfer.backend.isPaused()) {
                $(event.target).addClass('playing');
                window.topWavesurfer.play();
            } else {
                $(event.target).removeClass('playing');
                window.topWavesurfer.pause();    
            }
        });
    });
</script>