<!-- Main player Area Start -->
<div id="top-player" class="row main-player-area">
    <%= render 'top_player' %>
</div>
<!-- Main player Area End -->

<%= render 'clips/index' %>

<script type="text/javascript">
    initializeTopPlayer = function(mixedFilePath) {
        window.topWavesurfer = Object.create(WaveSurfer);
        window.topWavesurfer.init({
            container: '.full-waveform',
            fillParent: true,
            height: 42,
            waveColor: 'white',
            progressColor: 'white',
            cursorColor: 'white'
        });
        window.topWavesurfer.on('ready', function (_this) {
            console.log("Top player is ready!");
            $(".full-play-btn, #updatesong").removeClass('disabled');
        });

        window.topWavesurfer.on('loading', function (_this, progress) {
            $(_this.container).children(".progress").css("left", progress+"%");
        });

        window.topWavesurfer.on('finish', function () {
            $(".full-play-btn").removeClass('playing');
            window.topWavesurfer.seekTo(0);
        });
        window.topWavesurfer.load(mixedFilePath);
    }

    stopTopPlayer = function() {
        if (window.topWavesurfer) {
            if (!window.topWavesurfer.backend.isPaused()) {
                window.topWavesurfer.pause();
                $(".full-play-btn").removeClass('playing');
            }    
        };
    }

    updateMixAudio = function(event) {
        // Update song name
        $.ajax({
            type: "PUT",
            dataType: "json",
            url: $(event.target).attr('data-action'),
            contentType: 'application/json',
            data: JSON.stringify({merge: true })
        }).done(function( song ){
            console.log("Song : ", song);
            if (song && song.mixed_file) {
                $("#top-player").html("<%=j render :partial=>"top_player"%>");
                stopTopPlayer();
                initializeTopPlayer(song.mixed_file);
            };
            $(event.target).button('reset');
        }).fail(function(){
            $(event.target).button('reset');
        }); 
    }

    $(document).ready(function(){
        if ($("#main-player").data('path') != "") {
            initializeTopPlayer($("#main-player").data('path'));
        } else {
            $("#main-player").hide();
        }
    });
</script>