<!-- Main player Area Start -->
<div class="row main-player-area">
    <div class="col-md-4"></div>
    <div class="col-md-8">
        <div id="main-player" class="row" data-path="<%=@song.mixed_file%>">
            <div class="full-play-btn"></div>
            <div class="full-waveform"></div>
        </div>
    </div>
</div>
<!-- Main player Area End -->

<%= render 'clips/index' %>

<script type="text/javascript">

    $(document).ready(function(){
        var mixedFilePath = $("#main-player").data('path') + "?t="+Date.now();
        window.topWavesurfer = Object.create(WaveSurfer);
        window.topWavesurfer.init({
            container: '.full-waveform',
            fillParent: true,
            height: 42,
            waveColor: 'white',
            progressColor: 'white',
            cursorColor: 'white'
        });
        window.topWavesurfer.on('ready', function (_this) {
            console.log("Loaded!");
        });
        window.topWavesurfer.load(mixedFilePath);

        $(".full-play-btn").click(function(event){
            event.stopPropagation();
            for (var i = 65; i <= 72; i++) {
                var column = String.fromCharCode(i).toLowerCase()
                var wavesurfer = window.wavesurfers[index][column];
                if (!wavesurfer.backend.isPaused()) wavesurfer.pause();
            };

            if (window.topWavesurfer.backend.isPaused()) {
                $(event.target).addClass('playing');
                window.topWavesurfer.play();
            } else {
                $(event.target).removeClass('playing');
                window.topWavesurfer.pause();    
            }
        });
    });
</script>