<!-- Main player Area Start -->
<div class="row main-player-area">
    <div class="row">
        <div class="col-md-4"></div>
        <div id="top-player" class="col-md-8">
            <%= render 'top_player' %>
        </div>
    </div>
    <div class="row">
        <button id="updatesong" type="button" class="btn btn-primary start pull-right" data-action="/songs/<%=@song.id%>"
                data-loading-text="<i class='icon-spinner icon-spin icon-large'></i> Creating Mix Audio...">
            <i class="icon-upload icon-large"></i>
            <span>Create Mix Audio</span>
        </button>
    </div>
</div>
<!-- Main player Area End -->

<%= render 'clips/index' %>

<script type="text/javascript">
    function topPlayer(mixedFilePath) {
        window.topWavesurfer = Object.create(WaveSurfer);
        window.topWavesurfer.init({
            container: '.full-waveform',
            fillParent: true,
            height: 42,
            waveColor: 'white',
            progressColor: 'white',
            cursorColor: 'white'
        });
        window.topWavesurfer.on('ready', function (_this) {
            // console.log("Loaded!");
            $(".full-play-btn").removeClass('disabled');
        });

        window.topWavesurfer.on('loading', function (_this, progress) {
            $(_this.container).children(".progress").css("left", progress+"%");
        });

        window.topWavesurfer.on('finish', function () {
            $(".full-play-btn").removeClass('playing');
        });
        window.topWavesurfer.load(mixedFilePath);
    }

    function stopMainPlayer() {
        if (window.topWavesurfer) {
            if (!window.topWavesurfer.backend.isPaused()) {
                window.topWavesurfer.pause();
                $(".full-play-btn").removeClass('playing');
            }    
        };
    }

    $(document).ready(function(){
        if ($("#main-player").data('path') != "") {
            topPlayer($("#main-player").data('path'));
        } else {
            $("#main-player").hide();
        }

        $("#updatesong").on('click', function(event){
            event.stopPropagation();
            $(event.target).button('loading')
            // Update song name
            $.ajax({
                type: "PUT",
                dataType: "json",
                url: $(event.target).attr('data-action'),
                contentType: 'application/json',
                data: JSON.stringify({merge: true })
            }).done(function( song ){
                console.log("Song : ", song);
                if (song && song.mixed_file) {
                    $("#top-player").html("<%=j render :partial=>"top_player"%>");
                    stopMainPlayer();
                    topPlayer(song.mixed_file);
                };
                $(event.target).button('reset');
            }).fail(function(){
                $(event.target).button('reset');
            });
        });
    });
</script>