<div class="splash row">
<% if signed_in? %>
	<div class="text-center">
	    You are logged in.
	</div>
<% else %>
	<div class="blurb col-xs-12 col-sm-6">
	    <h1>Welcome to the future of music.</h1>
		<p>This is a blurb saying cool things about mix8. </p>
	</div>
	<div class="signup col-xs-12 col-sm-6">
		<div class="h4 text-center">Join our Beta Program!</div>
        <%= render partial: '/beta_users/form' %>
	</div>
<% end %>
</div>
