<% content_for :title, 'Change your password' %>
<div class="well form400">
	<h3>Change your password</h3>
    <p>Enter a new password below.</p>

    <%= form_for :password_reset,
            url: app_users_password_path(token: @user.confirmation_token),
            html: { method: :put },
            remote: true do |form| %>
        <div class="form-group">
            <%= form.password_field :password, class: 'form-control', placeholder: 'New Password. Minimum 6 characters' %>
        </div>
        <%= form.submit 'Reset Password', class: 'btn btn-primary' %>
    <% end %>
</div>