<li class="list-group-item">
	<i class="fa fa-rotate-left"></i>
	<small class="text-muted"><%= activity.created_at.strftime('%H:%M:%S %-d %B %Y') %></small><br/>
	<strong><%= activity.owner.name %></strong> created remix <%= activity.trackable.title %>.
</li>