/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require jquery-ui
 *= require bootstrap-tagsinput
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "mix8";
@import "font-awesome";

#main {
  margin-top: 65px;
}

body.sessions #navbar-collapse,
body.users #navbar-collapse,
body.passwords #navbar-collapse,
body.beta_artists.join #navbar-collapse {
  display: none !important;
}

.navbar .navbar-nav > li > a > .badge {
  background-color: #41c7ff;
}

.navbar-default .far-right {
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
}

.well.form400 {
  max-width: 400px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .well.form400 {
    margin-top: 100px;
  }
}

body {
  font-family: 'Lato', sans-serif;
  color: #232323;
}

h4 {
  font-weight: 700;
  font-size: 18px;
}

.white-section {
  padding: 15px;
  background-color: white;
}

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}