/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";

 body {
 	background-color: #333;
 	color: white;
 }

 .row {
 	margin-left: 0px;
    margin-right: 0px;
 }

 input {
 	color: black;
 }


.song-clip {
	margin-bottom: 5px;
}

.main-player-area {
	height: 162px;
	margin-bottom: 40px;
}

#main-player {
    position: relative;
    margin-bottom: 10px;
}

.full-play-btn {
	position: absolute;
	width: 80px;
	height: 42px;
    left: -90px;
	background-image: image-url('play_main_btn.png');
}

.full-play-btn.disabled, .part-play-btn.disabled {
    pointer-events: none;
    opacity: 0.5;
}

.full-play-btn.playing {
	background-image: image-url('pause_main_btn.png');
}

.full-waveform {
    position: relative;
    display: block;
    width: 100%;
    height: 42px;
}

#updatesong i, #updatesong span {
    pointer-events: none;
} 

#song-clips {
	margin: 0 78px 35px;
}

.clips {
	position: relative;
    width: 82px;
    display: block;
    border-radius: 6px;
    float: left;
}

.clips.focus {
	background-color: black;
}

.level {
	position: relative;
	width: 82px;
	margin-bottom: 3px;
    display: block;
    color: white;
    text-align: center;
}

.level.left {
	height: 34px;
	line-height: 34px;
	position: absolute;
    left: -90px;
    font-size: 18px;
    text-align: right;
    pointer-events: none;
}

.level.column {
    cursor: pointer;    
}

.clip, .blank {
	position: relative;
	width: 78px;
    height: 34px;
    display: block;
    cursor: pointer;
    border-radius: 6px;
    margin: 0 auto 4px;
}

.clip.clip-a, .clip.clip-1 {
	background-image: image-url('1.png');
}

.clip.clip-b, .clip.clip-2 {
	background-image: image-url('2.png');
}

.clip.clip-c, .clip.clip-3 {
	background-image: image-url('3.png');
}

.clip.clip-d, .clip.clip-4 {
	background-image: image-url('4.png');
}

.clip.clip-e, .clip.clip-5 {
	background-image: image-url('5.png');
}

.clip.clip-f, .clip.clip-6 {
	background-image: image-url('6.png');
}

.clip.clip-g, .clip.clip-7 {
	background-image: image-url('7.png');
}

.clip.clip-h, .clip.clip-8 {
	background-image: image-url('8.png');
}

.blank {
	border: 2px solid white;
	border-radius: 5px;
	margin: 2px auto;
	background-image: none !important;
}

.clip.paused {
	background-image: image-url ('');
}

.clip wave {
    pointer-events: none;
}

.opaque-gray {
	width: 100%;
    height: 100%;
    border-radius: 5px;
    display: none;
	pointer-events: none;
	background-image: image-url('clip_muted.png');
    position: absolute;
    z-index: 99;
}

.clip.muted .opaque-gray {
	display: block;
}

.progress {
    position: absolute;
    left: 0;
    right: 0;
    height: 100%;
    pointer-events: none;
    z-index: 100;
    background-color: rgba(130, 84, 103, 0.5);
    border-radius: 0px;
    box-shadow: none;
}

.play-btn {
	position: absolute;
    top: 50%;
    left: 5px;
    width: 19px;
    height: 18px;
    margin-top: -9px;
	background-image: image-url('play_small.png');
    z-index: 100;
    display: none;
}

.clips.focus .loaded .play-btn {
    display: block;
}

.clips.focus.playing .loaded .play-btn {
    display: none;
}

.clip.bordered .play-btn {
	left: 3px;
}

.play-btn.paused {
	background-image: image-url('pause_small.png');
}

.part-play-btn {
	position: relative;
    width: 78px;
    height: 40px;
    display: block;
    cursor: pointer;
    pointer-events: none;
    background-repeat: no-repeat;
    background-position: center 7px;
}

#song-clips .clips.focus .part-play-btn {
	background-image: image-url('play_medium.png');
    pointer-events: all;
}

#song-clips .clips.focus.playing .part-play-btn {
	background-image: image-url('pause_medium.png');
}

.iPhone {
	position: relative;
    display: none;
	width: 220px;
    height: 380px;
    border-top: 55px solid black;
    border-bottom: 55px solid black;
    border-left: 10px solid black;
    border-right: 10px solid black;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.iPhone .mic {
	position: absolute;
	width: 10px;
    height: 10px;
    top: -35px;
    left: 50%;
    margin-left: -5px;
    box-shadow: inset 0px -3px 12px -5px #C1A3A3;
    border-radius: 25px;
}

.iPhone .speaker {
	position: absolute;
    width: 60px;
    height: 10px;
    top: -20px;
    left: 50%;
    margin-left: -30px;
    box-shadow: inset 0px -1px 16px -4px #827A7A;
    border-radius: 25px;
}

.iPhone .home-btn {
	width: 35px;
    height: 35px;
    position: absolute;
    background-color: #23211E;
    border-radius: 25px;
    bottom: -44px;
    left: 50%;
    margin-left: -17.5px;
    box-shadow: inset 0px -3px 12px -5px #C1A3A3;
}

ul#song-info, ul#part-info {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul#song-info li, ul#part-info li {
    height: 30px;
    line-height: 30px;
}

.name-editor {
    height: 30px;
    line-height: 30px;
}

.name-editor > .name {
    display: block;
    height: 30px;
    line-height: 30px;
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    cursor: pointer;  
}

.name-editor label {
    display: block;
    float: left;
    font-weight: normal;
    margin: 0;
}

.name-editor #song_name {
    line-height: 17px;
}

.name-editor > .edit, .name-editor.editing > span {
    display: none;
}

.name-editor.editing > .edit {
    display: block;
}
