// Place all the styles related to the Artist controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "mixin";
@import "bootstrap/variables";

.navbar-nav > li.artist > a.navbar-btn,
.navbar-nav > li.artist > a.navbar-btn:hover,
.navbar-nav > li.artist > a.navbar-btn:focus {
  padding: 6px 20px;
  color: #fff;
  background-color: #ea345f;
  border: none;
}

.second-nav {
  background-color:#fff;
  height: 100px;
  padding: 0 35px;
}

#artistProfilePage {
  background-color: #f8f8f8;

  .header {
    padding-top: 50px;

    .follow, .unfollow {
      position: absolute;
      left: 50%;
      bottom: -32px;
      margin-left: -32px;
      z-index: 100;
      display: block;
      width: 65px;
      height: 65px;
      padding: 0;
      border: none;
      -webkit-border-radius: 32px;
      -moz-border-radius: 32px;
      border-radius: 32px;

      @media screen and (max-width: $screen-md-min) {
        top: -32px;
        bottom: auto;
      }
    }

    .content {
      padding-bottom: 30px;
      position: absolute;
      bottom: 0;

      @media screen and (max-width: $screen-sm-min) {
        padding-bottom: 10px;
      }

      .name {
        font-family: 'Droid Sans', sans-serif;
        color: #ffffff;
        font-size: 34px;
        font-weight: 400;

        @media screen and (max-width: $screen-sm-min) {
          font-size: 24px;
          line-height: 32px;
        }
      }

      .location, .artist-band {
        font-family: 'Droid Sans', sans-serif;
        color: #ffffff;
        font-size: 16px;

        @media screen and (max-width: $screen-sm-min) {
          font-size: 14px;
        }
      }

      .edit-profile {
        color: #ffffff;
        text-decoration: none;
      }
    }
  }

  .stats {
    margin-bottom: 30px;

    .stats-list {
      margin-top: 20px;

      .stat {
        text-align: center;

        .name {
          color: #9f9f9f;
          text-transform: uppercase;

          @media screen and (min-width: $screen-md-min) and (max-width: $screen-md-max) {
            font-size: 0.8em;
          }
        }

        .value {
          font-weight: 600;
          font-size: 42px;
        }
      }
    }
  }

  .followings {
    position: relative;
    margin-bottom: 30px;

    .view-all {
      position: absolute;
      top: 20px;
      right: 20px;
    }

    .following {
      .profile-image {
        width: 75px;
        height: 75px;
      }

      .name {
        font-weight: 600;
        margin: 0;
      }

      .location {
        color: #9f9f9f;
      }
    }
  }

  .followers {
    position: relative;
    margin-bottom: 30px;

    .view-all {
      position: absolute;
      top: 20px;
      right: 20px;
    }

    .follower {
      .profile-image {
        width: 75px;
        height: 75px;
      }

      .name {
        font-weight: 600;
        margin: 0;
      }

      .location {
        color: #9f9f9f;
      }
    }
  }

  .artist-tags {
    .tag {
      padding: 5px 10px;
      background-color: #737373;
      text-transform: uppercase;
      margin-right: 7px;
    }
  }

  .social-links {
    .social-link {
      padding: 10px;
      color: #9f9f9f;
    }
  }

  .artist-bio {
    padding: 25px 0;

    .title {
      padding-bottom: 25px;
      margin: 0;
    }

    .content {
      font-weight: 300;
      font-size: 16px;
    }
  }

  .artist-tracks {
    padding: 25px 0;

    .title {
      padding-bottom: 25px;
      margin: 0;
    }

    .track-list {
      @include track-media(200px, 150px);
    }
  }
}

#editArtistProfilePage {
  .profile {
    margin-top: 30px;
    padding: 30px;
  }

  .connections {
    margin-top: 30px;
    padding: 30px;
  }

  .account {
    margin-top: 30px;
    padding: 30px;
  }

  #artistProfileForm {
    .input-group-addon {
      min-width: 120px;
      text-align: left;
      background-color: #eaeaea;
      font-weight: 600;
    }

    .input-group[class*="col-"] {
      padding-left: 15px;
      padding-right: 15px;
    }

    label {
      text-align: left;
      font-weight: 600;
    }

    .hint {
      color: #a6a6a6;
      font-weight: 400;
    }

    .user_profile_image, .user_profile_background_image {
      padding-left: 15px;
      padding-right: 15px;
    }
  }

  #profileTabs {
    padding: 0;

    .nav-tabs {
      vertical-align: top;
      border: none;

      & > li {
        padding: 0 25px;

        & > a {
          padding: 15px 0;
          color: #a6a6a6;

          &:hover {
            background-color: transparent;
            outline: none;
            border-color: transparent;
            color: #41c7ff;
          }
        }

        &.active {
          & > a, & > a:hover, & > a:focus {
            color: #555;
            cursor: default;
            border: none;
            border-bottom: 2px solid #41c7ff;
            font-weight: 600;
          }
        }
      }
    }
  }

  #artistAccountForm {
    label {
      text-align: left;
      font-weight: 600;
    }

    .user_password, .user_password_confirmation {
      padding-left: 15px;
      padding-right: 15px;
    }
  }

  #connections {
    ul.list-group {
      li.list-group-item {
        line-height: 50px;
        border: none;

        hr {
          margin-bottom: 0;
        }
      }
    }
  }
}

#artistMusicPage {
  .released-songs {
    margin-bottom: 30px;
  }

  img.img-cover {
	height: 30px;
	width: 30px;
	margin-right: 5px;
  }

  .selected-songs {
    .duration, .plays, .downloads, .remixes, .status {
      font-size: .8em;
      color: #9f9f9f;
    }

    .actions {
      width: 60px;

      a {
        display: block;
      }
    }
  }

  .top-remixes {
	.img, .track.media {
	  padding: 10px 0;
	  width: 30px;
	}

	.plays, .downloads, .remixes {
      font-size: .8em;
      color: #9f9f9f;
    }

    .hot {
      background-color: #ff9a41;
      text-transform: uppercase;
      margin-left: 7px;
    }

    .new {
      background-color: #41c7ff;
      text-transform: uppercase;
      margin-left: 7px;
    }

	.track.media {
	  .media-left {
		position: relative;
		height: 30px;
		width: 30px;

		.image {
		  width: 30px;
		  height: 30px;
		}

		.play, .pause {
		  position: absolute;
		  top: 0;
		  left: 0;
		  cursor: pointer;

		  img {
			width: 30px;
			height: 30px;
		  }
		}
	  }

	  .mix8-player {
		position: absolute;
		bottom: 15px;
		left: 0;
		right: 100px;
		padding-left: 10px;
	  }
	}
  }

  .released-songs {
    @include track-media(75px, 150px);

    .track.media {
      .media-body {
        padding-top: 0;
        padding-right: 0;
      }
    }
  }
}

#songForm {
  .input-group-addon {
    min-width: 120px;
    text-align: left;
    background-color: #eaeaea;
    font-weight: 600;
  }

  .input-group[class*="col-"] {
    padding-left: 15px;
    padding-right: 15px;
  }

  label {
    text-align: left;
    font-weight: 600;
  }

  .hint {
    color: #a6a6a6;
    font-weight: 400;
  }

  .song_image, .song_zipfile {
    padding-left: 15px;
    padding-right: 15px;
  }

  [type="submit"] {
    .loading {
      display: none;
    }

    &[data-loading="true"] {
      .loading {
        display: inline-block;
      }
    }
  }
}

#newArtistSongPage {
  .song {
    margin-top: 30px;
  }
}

#artistProfileHeader {
  border: 1px solid #f2f2f2;

  .profile-header {
    padding-top: 40px;
    padding-bottom: 40px;

    .container {
      position: relative;

      .upload-music {
        position: absolute;
        right: 15px;
        top: 25px;
        color: #9f9f9f;
      }

      .media {
        .media-left {
          padding-right: 20px;

          .profile-image {
            width: 90px;
            height: 90px;
          }
        }

        .media-body {
          .artist-name {
            padding-top: 10px;
            font-size: 24px;
            font-weight: 600;
          }

          .artist-stats {
            color: #9f9f9f;
          }
        }
      }
    }
  }
}

#uploadSongHeader {
  padding: 30px 0;
}

#artistConnectPage {
  #connectTabs {
    padding: 0;

    .nav-tabs {
      vertical-align: top;
      border: none;

      & > li {
        padding: 0 25px;

        & > a {
          padding: 15px 0;
          color: #a6a6a6;

          &:hover {
            background-color: transparent;
            outline: none;
            border-color: transparent;
            color: #41c7ff;
          }
        }

        &.active {
          & > a, & > a:hover, & > a:focus {
            color: #555;
            cursor: default;
            border: none;
            border-bottom: 2px solid #41c7ff;
            font-weight: 600;
          }
        }
      }
    }
  }

  .activities {
    .activity {
      .media {
        .media-left {
          padding-right: 20px;

          img {
            width: 40px;
            height: 40px;
          }
        }

        .media-body {
          .owner {
            line-height: 40px;
            padding-top: 10px;
            font-weight: 600;
          }

          .activity-icon {
            padding-left: 5px;
            padding-right: 5px;
          }
        }
      }

      .title {
        line-height: 40px;
        font-size: 12px;
        color: #9f9f9f;
        
        strong {
          color: #000000;
        }
      }

      .when {
        line-height: 40px;
        font-size: 12px;
        color: #9f9f9f;
      }
    }
  }

  .load-more {
    .loading {
      display: none;
    }

    &[data-loading="true"] {
      .loading {
        display: inline-block;
      }
    }
  }
}