// Place all the styles related to the Artist controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "mixin";

.navbar-nav > li.artist > a.navbar-btn,
.navbar-nav > li.artist > a.navbar-btn:hover,
.navbar-nav > li.artist > a.navbar-btn:focus {
  padding: 6px 20px;
  color: #fff;
  background-color: #ea345f;
  border: none;
}

.second-nav {
  background-color:#fff;
  height: 100px;
  padding: 0 35px;
}

.upload-btn {
  margin-top: 30px;
}

#artistProfilePage {
  background-color: #f8f8f8;

  .header {
    padding-top: 50px;

    #uploadProfileImageForm {
      .bootstrap-filestyle {
        position: absolute;
        left: 50%;
        bottom: -32px;
        margin-left: -32px;
        z-index: 100;

        .upload-profile-image {
          display: block;
          width: 65px;
          height: 65px;
          padding: 0;
          border: none;
          border-radius: 32px;
        }
      }
    }

    .content {
      padding-bottom: 30px;
      position: absolute;
      bottom: 0;

      .name {
        font-family: 'Droid Sans', sans-serif;
        color: #ffffff;
        font-size: 34px;
        font-weight: 400;
      }

      .location {
        font-family: 'Droid Sans', sans-serif;
        color: #ffffff;
        font-size: 16px;
      }

      .edit-profile {
        color: #ffffff;
        text-decoration: none;
      }
    }
  }

  .stats {
    margin-bottom: 30px;

    .stats-list {
      margin-top: 20px;

      .stat {
        text-align: center;

        .name {
          color: #9f9f9f;
          text-transform: uppercase;
        }

        .value {
          font-weight: 600;
          font-size: 42px;
        }
      }
    }
  }

  .followings {
    position: relative;
    margin-bottom: 30px;

    .view-all {
      position: absolute;
      top: 20px;
      right: 20px;
    }

    .following {
      .profile-image {
        width: 75px;
        height: 75px;
      }

      .name {
        font-weight: 600;
        margin: 0;
      }

      .location {
        color: #9f9f9f;
      }
    }
  }

  .followers {
    position: relative;
    margin-bottom: 30px;

    .view-all {
      position: absolute;
      top: 20px;
      right: 20px;
    }

    .follower {
      .profile-image {
        width: 75px;
        height: 75px;
      }

      .name {
        font-weight: 600;
        margin: 0;
      }

      .location {
        color: #9f9f9f;
      }
    }
  }

  .artist-tags {
    .tag {
      padding: 5px 10px;
      background-color: #737373;
      text-transform: uppercase;
      margin-right: 7px;
    }
  }

  .social-links {
    .social-link {
      padding: 10px;
      color: #9f9f9f;
    }
  }

  .artist-bio {
    padding: 25px 0;

    .title {
      padding-bottom: 25px;
      margin: 0;
    }

    .content {
      font-weight: 300;
      font-size: 16px;
    }
  }

  .artist-tracks {
    padding: 25px 0;

    .title {
      padding-bottom: 25px;
      margin: 0;
    }

    .track-list {
      @include track-media(200px);
    }
  }
}

#editArtistProfilePage {
  .profile {
    margin-top: 30px;
    padding: 30px;
  }

  #artistProfileForm {
    .input-group-addon {
      min-width: 120px;
      text-align: left;
      background-color: #eaeaea;
      font-weight: 600;
    }

    .input-group[class*="col-"] {
      padding-left: 15px;
      padding-right: 15px;
    }

    label {
      text-align: left;
      font-weight: 600;
    }

    .hint {
      color: #a6a6a6;
      font-weight: 400;
    }

    .user_profile_image, .user_profile_background_image {
      padding-left: 15px;
      padding-right: 15px;
    }
  }
}