//body.pages.splash > .container {
  //background-image: url(//nebula.wsimg.com/8690aa7bee17adbec53e7ec3c28eefaf?AccessKeyId=9BA1524139E64B4DEAC8&alloworigin=1);
  //background-position-x: center;
  //background-position-y: top;
  //background-position: center top;
  //background-repeat: no-repeat;
  //position: fixed;
  //top: 0;
  //bottom: 0;
  //left: 0;
  //right: 0;
  //width: 100%;
  //height: 100%;
  //overflow: hidden;
//}

body.sessions > div.container,
body.users > div.container,
body.passwords > div.container,
body.beta_users > div.container,
body.beta_artists > div.container {
  margin: 80px auto 0;
  padding: 0 20px;
  max-width: 440px;
}

.navbar-nav > li > span {
  padding-bottom: 15px;
  padding-top: 15px;
  color: #9d9d9d;
  line-height: 20px;
  display: block;
}
.background-line {
  display: table;
  white-space: nowrap;
}
.background-line:before,
.background-line:after {
  border-top: 1px solid #868686;
  content: '';
  display: table-cell;
  position: relative;
  top: 0.8em;
  width: 50%;
}
.background-line > span {
  padding: 0 20px;
}
.title {
  //color: white;
  font-size: 1.35em;
  //text-transform: uppercase;
}

