.bootstrap-tagsinput {
  width: 100%;
  min-height: 41px;
  padding: 6px 16px;
  color: #666666;
  background-color: #f8f8f8;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 5px;
  box-shadow: none;

  .tag {
    background-color: #737373;
    text-transform: uppercase;
    margin-right: 7px;
  }
}

table.table-mix8 {
  box-shadow: 0 3px 3px rgba(0, 0, 0, .05);

  & > thead > tr {
    & > th {
      border: none;
      background-color: #414a51;
      color: #71787d;
      padding: 15px;
      font-size: 11px;
      text-transform: uppercase;
	  white-space: nowrap;

      &:first-child {
        -webkit-border-top-left-radius: 5px;
        -moz-border-top-left-radius: 5px;
        border-top-left-radius: 5px;
        padding-left: 20px;
		width: 45px;
      }

      &:last-child {
        -webkit-border-top-right-radius: 5px;
        -moz-border-top-right-radius: 5px;
        border-top-right-radius: 5px;
        padding-right: 20px;
      }

      a {
        color: #71787d;
        text-decoration: none;

        &:hover {
          color: #ffffff;
        }
      }
    }
  }

  & > tbody > tr {
    &:nth-of-type(odd) {
      background-color: #ffffff;
    }

    &:nth-of-type(even) {
      background-color: #f8f8f8;
    }

    & > td {
      padding: 10px;

      &:first-child {
        padding-left: 20px;
      }

      &:last-child {
        padding-right: 20px;
      }
    }
  }
}

.btn.btn-grey {
  background-color: #eaeaea;
  color: #a7a7a7;
}

.btn.btn-round {
  border-radius: 24px;
}

.btn.btn-facebook {
  background-color: #3b5998;
  color: #ffffff;
}

.btn.btn-twitter {
  background-color: #41c7ff;
  color: #ffffff;
}

.btn.btn-tumblr {
  background-color: #37465c;
  color: #ffffff;
}

.btn.btn-google-plus {
  background-color: #e9453c;
  color: #ffffff;
}

.btn.btn-soundcloud {
  background-color: #fc561f;
  color: #ffffff;
}

.btn.btn-lastfm {
  background-color: #b90611;
  color: #ffffff;
}

.nav-center {
  text-align: center;

  ul.nav {
    display: inline-block;

    li {
      display: inline;

      a {
        float: left;
      }
    }
  }
}