// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.song-clip{
	margin-bottom: 5px;
}

.songs-details {
	margin-bottom: 40px;
}

.main-play-btn {
	position: relative;
	width: 80px;
	height: 42px;
	background-image: image-url('play_main_btn.png');
}

.main-play-btn.paused {
	background-image: image-url('pause_main_btn.png');
}

#song-clips {
	margin: 0 78px;
}

.clips {
	position: relative;
    width: 82px;
    display: block;
    border-radius: 6px;
    float: left;
}

.clips.playing {
	background-color: black;
}

.level {
	position: relative;
	width: 82px;
	margin-bottom: 3px;
    display: block;
    color: white;
    text-align: center;
}

.level.left {
	height: 34px;
	line-height: 34px;
	position: absolute;
    left: -90px;
    font-size: 18px;
    text-align: right;
}

.clip {
	position: relative;
	width: 78px;
    height: 34px;
    display: block;
    cursor: pointer;
    border-radius: 6px;
    margin: 0 auto 4px;
}

.clip.clip-1 {
	background-image: image-url('1.png');
}

.clip.clip-2 {
	background-image: image-url('2.png');
}

.clip.clip-3 {
	background-image: image-url('3.png');
}

.clip.clip-4 {
	background-image: image-url('4.png');
}

.clip.clip-5 {
	background-image: image-url('5.png');
}

.clip.clip-6 {
	background-image: image-url('6.png');
}

.clip.clip-7 {
	background-image: image-url('7.png');
}

.clip.clip-8 {
	background-image: image-url('8.png');
}

.clip.bordered {
	border: 2px solid white;
	border-radius: 5px;
	margin: 2px auto;
	background-image: none !important;
}

.clip.paused {
	background-image: image-url ('');
}

.opaque-gray {
	width: 100%;
    height: 100%;
    border-radius: 5px;
    display: none;
	pointer-events: none;
	background-image: image-url('clip_muted.png');
}

.clip.muted .opaque-gray {
	display: block;
}

.play-btn {
	position: absolute;
    top: 50%;
    left: 0px;
    width: 35px;
    height: 18px;
    margin-top: -9px;
	background-image: image-url('play_small.png');
	display: none;
}

.play-btn.paused {
	background-image: image-url('pause_small.png');
}

#song-clips .clips.playing .play-btn {
	display: block;
}

.part-play-btn {
	position: relative;
    width: 78px;
    height: 40px;
    display: block;
    cursor: pointer;
    pointer-events: none;
    background-repeat: no-repeat;
    background-position: center 7px;
}

#song-clips .clips.playing .part-play-btn {
	background-image: image-url('play_medium.png');
    pointer-events: all;
}

#song-clips .clips.playing .part-play-btn.playing {
	background-image: image-url('pause_medium.png');
}