// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#home {
  .container {
    .artists {
      margin-top:20px;
      .artist {
        .thumbnail {
          .caption {
            padding: 5px 0 0 5px;
            a {
              font-size: 14px;
              color: #9f9f9f;
            }
          }
        }
        @media (max-width: 767px) {
          .thumbnail {
            margin-bottom: 1px;
            .caption {
              height: 72px;
            }
          }
        }
      }
    }
    .songs {
      .song {
        h4 {
          margin: 0;
        }
        .thumbnail {
          .caption {
            padding: 5px 0 0 5px;
          }
        }
        @media (max-width: 767px) {
          .thumbnail {
            margin-bottom: 1px;
            .caption {
              height: 72px;
            }
          }
        }
      }
    }
  }
  .artist {
    font-size: 14px;
    color: #9f9f9f;
  }
}
