// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.splash.row {
  margin: 0 auto;
}
.splash.row .signup {
  margin: 25px auto 0;
  padding: 10px 15px;
  border-radius: 4px;
}

@media screen and (max-width: 767px) {
  .splash.row {
	max-width: 80%;
	//margin: 0 auto;
  }
}

@media screen and (max-width: 650px) { // TODO: add min-width: 420px to this
  .splash.row {
	max-width: 90%;
  }
}

@media screen and (max-width: 420px) { // TODO: remove this
  .splash.row {
	width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .splash.row .signup {
	max-width: 400px;
	float: right;
  }
}

