/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 *= require cover
 */

@import "bootstrap-sprockets";
@import "mix8";
@import "font-awesome";

html, body {
  height: 100%;
}


.navbar-brand {
  height: 84px;
  padding-top: 12px;
}

.navbar-inverse {
  background-color: #414a51;
  height: 84px;
  .navbar-nav {
    li > a {
      color: #fff;
    }
    li > a:hover,
    li > a:focus {
      color: #ffffff;
      background-color: #2a3035;
    }
    li.current {
      color: #ffffff;
      background-color: #2F363C;
    }
  }
}

.navbar-toggle {
  margin-top: 25px;
  margin-bottom: 25px;
}

@media (min-width: 768px) {
  .navbar-nav > li > a {
    padding-top: 28.5px !important;
    padding-bottom: 28.5px !important;
  }
  .media img {
    width: 250px;
  }
}

#artistSignUpPage {
  background-image: image_url('signup-background.png');
  -webkit-background-size: cover;
  background-size: cover;

  .logo {
    margin-top: 30px;
    margin-bottom: 20px;
  }

  h2 {
    color: #ffffff;
    margin-top: 0;
    margin-bottom: 35px;
  }

  #artistSignUpForm {
    max-width: 400px;
    margin: 0 auto;
    background-color: white;
    border-radius: 15px;

    hr {
      margin: 0;
    }

    .dont-have-a-code {
      text-align: center;
      padding: 20px;
      color: #9f9f9f;
    }

    .signup-wrapper {
      padding: 20px;
    }

    .form-group {
      margin-bottom: 0;
      border-bottom: 1px solid #e5e5e5;

      .form-control {
        text-align: center;
        background-color: transparent;
        border: none;
        outline: none;
        box-shadow: none;

        &.input-lg {
          height: 60px;
        }
      }
    }
  }
}

#signUpPage {
  background-color: white;
  -webkit-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: relative;
  padding-top: 84px;

  .logo {
    margin-top: 60px;
    margin-bottom: 30px;
  }

  .container {
    margin: 0 auto;
    padding-top: 25px;

    .signup-header {
      h2 {
        margin-top: 0;
        font-size: 35pt;
      }
      p{
        margin: 0 auto;
        font-size: 16px;
        text-align: left;
        //padding-left: 0;
      }
    }

    #signUpForm {
      @extend .block-round;
      hr {
        margin: 0;
      }
      #userForm {
        .error-message {
          text-align: center;
          color: red;
          margin-top: -20px;
          margin-bottom: 20px;
        }
      }
      .form-group {
        margin-bottom: 16px;
      }
      .text-center {
        label.boolean{
          margin: 10px 15px;
        }
      }
    }
  }


  footer {
    padding: 30px;
    width: 100%;
    color: #9f9f9f;
  }

  .full-width {
    min-width: 100%;
  }

  span.checkbox {
    @extend .col-md-6;
    @extend .col-sm-6;
    @extend .col-xs-12;
    margin-top: 10px !important;
    margin-bottom: 0;
    padding-left: 0;
    float: left;
	height: 27px;
	white-space: nowrap;
  }

  .user_beta_user_music_backgrounds {
    .control-label{
      @extend .full-width;
      text-align: left;
	  font-weight: bold;
    }
  }

  .user_beta_user_phone_type {
    .control-label {
	  @extend .full-width;
      text-align: left;
      padding-left: 0;
      margin-top: 20px;
	  font-weight: bold;
    }
    span.radio {
	  @extend .pull-left;
	  padding-right: 20px;
      padding-left: 0;
	  height: 20px;
    }
  }
}

.radio + .radio,
.checkbox + .checkbox {
  margin-top: 10px;
}

@media (max-width: 768px) {
  .navbar-inverse {
	.navbar-nav {
	  li > a {
		color: #000;
		background-color: #fff;
	  }
	}
  }
  #signUpPage .container #signUpForm {
	padding-top: 15px;
  }
  #signUpPage .container #signUpForm .form-group {
	padding: 0 7px;
  }
  #signUpPage .container #signUpForm #betaUserForm {
	padding-top: 5px;
  }
  #signUpPage .control-label {
	font-size: 14px;
	font-weight: bold;
	background-color: #ddd;
  }
  #signUpPage span.checkbox {
	padding-left: 5px;
  }
  #signUpPage .container #signUpForm #userForm .error-message {
	margin-top: 0;
  }
  #signUpPage .container .signup-header h2 {
	font-size: 22pt;
	text-align: center;
	margin-bottom: 0;
  }
}

