/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 */

@import "bootstrap-sprockets";
@import "mix8";
@import "font-awesome";

html, body {
  height: 100%;
}

.btn.btn-round {
  border-radius: 24px;
}

#signUpPage {
  //background-image: image_url('signup-background.png');
  background-color: white;
  -webkit-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: relative;

  .logo {
    margin-top: 60px;
    margin-bottom: 30px;
  }

  .signup-header {
    padding-top: 60px;
    p{
      margin: 0 auto;
      text-align: left;
      max-width: 500px;
    }
  }
  #signUpForm {
    border-radius: 15px;
    border: 1px solid #414a51;
    margin-top: 30px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
    hr {
      margin: 0;
    }


    .dont-have-a-code {
      text-align: center;
      padding: 20px;
      color: #9f9f9f;
    }

    .signup-wrapper {
      margin: 0 auto;
      max-width: 300px;
      padding: 20px;
    }

    #betaUserForm {
      margin-bottom: 20px;
    }

    .form-group {
      border-bottom: 1px solid #e5e5e5;
      margin: 0px;


      .form-control {
        background-color: transparent;
        border: none;
        outline: none;
        box-shadow: none;
        &.input-lg {
          &:not(textarea) {
            height: 40px;
          }
        }
      }
    }
  }

  footer {
    position: absolute;
    bottom: 0;
    padding: 30px;
    width: 100%;
    color: #9f9f9f;
  }

  .full-width {
    min-width: 100%;
  }

  span.radio {
    width: 50%;
    float: left;
  }

  .user_beta_user_music_background {
    .control-label{
      @extend .full-width;
      text-align: left;
    }
  }

  .user_beta_user_phone_type {
    .control-label {
      @extend .col-md-4;
      text-align: left;
      padding-left: 0;
    }
    span.radio {
      @extend .col-md-4;
    }
  }


}