// Place all the styles related to the Songs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "mixin";
@import "bootstrap/variables";

#songPage {
  .header {
    padding-top: 50px;

    .follow, .unfollow {
      position: absolute;
      left: 50%;
      bottom: -32px;
      margin-left: -32px;
      z-index: 100;
      display: block;
      width: 65px;
      height: 65px;
      padding: 0;
      border: none;
      -webkit-border-radius: 32px;
      -moz-border-radius: 32px;
      border-radius: 32px;

      @media screen and (max-width: $screen-xs-min) {
        width: 32px;
        height: 32px;
        margin-left: -16px;
        bottom: -16px;
        img {
          width: 32px;
        }
      }
    }

    .content {
      padding-bottom: 30px;
      position: absolute;
      bottom: 0;

      @media screen and (max-width: $screen-sm-min) {
        padding-bottom: 10px;
      }

      .black {
        background-color: #000;
        padding: 0 6px;
        margin-bottom: 5px;
      }

      .name {
        font-family: 'Droid Sans', sans-serif;
        color: #ffffff;
        font-size: 34px;
        font-weight: 400;
        line-height: 44px;

        @media screen and (max-width: $screen-sm-min) {
          font-size: 24px;
          line-height: 32px;
        }
      }

      .location, .artist-band {
        font-family: 'Droid Sans', sans-serif;
        color: #ffffff;
        font-size: 17px;

        @media screen and (max-width: $screen-sm-min) {
          font-size: 14px;
        }
      }

      .edit-profile {
        color: #ffffff;
        text-decoration: none;
        padding: 3px 5px;
        font-size: 11px;
      }
    }
  }
}

.remix-list {
  background-color: #eee;
  font-size: 13px;

  .table > thead > tr > th {
    padding: 4px 4px 0 4px;
  }

  @include remix-media();

}



