.nav > li.profile-dropdown > a .fa {
	font-size: 24px;
	margin-left: 10px;
	float: right;
}
.nav > li.profile-dropdown .avatar {
	margin-top: -5px;
	margin-right: 15px;
    float: left;
    display: block;
    border-radius: 50%;
}

#tracker-head h3 {
	margin: 0;
}
#tracker-compiled {
	padding: 10px;
	margin-top: 10px;
	color: #fff;
	border-radius: 8px;
	background-color: #454e54;
	line-height: 22px;
}
#tracker-compiled a {
	color: #ffffff;
}
#tracker-compiled .tracker-info:hover {
	color: #7d8388;
	text-decoration: none;
}
.tracker-part:hover {
	/*color: #ffffff;  #mixer_hover
	-webkit-box-shadow: 0px 0px 0px 3px rgba(255,255,255,1);
	-moz-box-shadow: 0px 0px 0px 3px rgba(255,255,255,1);
	box-shadow: 0px 0px 0px 3px rgba(255,255,255,1);
    opacity: 1;*/
}

.tracker-info {
	float: left;
	width: 95px;
	padding-top: 4px;
}

.tracker-info .fa {
	margin-left: 10px;
}

.tracker-part {
	float: left;
	width: 10%;
	margin-left: 0.5%;
	border-radius: 4px;
	position: relative;
    overflow: hidden;
}

#tracker-desktop .tab a {
	position: relative;
	padding: 15px 20px 15px 20px;
	float: left;
	margin: 0 10px 0px 0;
}

#tracker-desktop .tab.active a {
	color: inherit;
	background-color: #fff;
	border-top-right-radius: 8px;
	border-top-left-radius: 8px;
	-webkit-box-shadow: 0px 2px 10px rgba(0,0,0,0.1);
	-moz-box-shadow: 0px 2px 10px rgba(0,0,0,0.1);
	box-shadow: 0px 2px 10px rgba(0,0,0,0.1);
}
#tracker-desktop .tab.active a:hover {
	text-decoration: none;
}
#tracker-desktop .tab.active a:after {
	content: ' ';
	position: absolute;
	display: block;
	height: 10px;
	left: 0px;
	right: -10px;
	bottom: -10px;

	background-color: #fff;

}
#tracker-desktop .tab.plus a {
	border-radius: 50%;
    display: block;
    width: 30px;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    padding: 0;
    /*font-weight: 700;*/
    height: 30px;
    margin-top: 11px;
    border: 2px solid #41c7ff;
}
#tracker-desktop .tab.plus a:hover,
#tracker-desktop .tab.plus a:focus,
#tracker-desktop .tab.plus a:active {
	text-decoration: none;
	border-color: #00acf3;
}
#tracker-mixer {
	clear: both;
}
.tracker-custom{
	padding-top:10px;
}
#tracker-compiled .tracker-part {
	/*height: 24px;*/
	height: px;
	overflow: visible;
	background-color: #323a40;
	margin-bottom: 10px;
}
.tracker-part .time {
	font-weight: 700;
	font-size: 10px;
	margin-left: 5px;
	line-height: 97px;
	/*line-height: 28px;*/
	position: absolute;
	z-index: 2;
}
#tracker-compiled .gradient {
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	/*width: 100%;*/
	width: 0;
	outline: 0px solid white;
}
#tracker-compiled .part1 .gradient {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#41c7ff+0,45c8f9+100 */
	background: rgb(65,199,255); /* Old browsers */
	background: -moz-linear-gradient(left,  rgba(65,199,255,1) 0%, rgba(69,200,249,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left,  rgba(65,199,255,1) 0%,rgba(69,200,249,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right,  rgba(65,199,255,1) 0%,rgba(69,200,249,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#41c7ff', endColorstr='#45c8f9',GradientType=1 ); /* IE6-9 */
}
#tracker-compiled .part2 .gradient {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#46c8f8+0,4ccaef+100 */
	background: rgb(70,200,248); /* Old browsers */
	background: -moz-linear-gradient(left,  rgba(70,200,248,1) 0%, rgba(76,202,239,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left,  rgba(70,200,248,1) 0%,rgba(76,202,239,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right,  rgba(70,200,248,1) 0%,rgba(76,202,239,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#46c8f8', endColorstr='#4ccaef',GradientType=1 ); /* IE6-9 */
}
#tracker-compiled .part3 .gradient {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#4ccaef+0,55cce3+100 */
	background: rgb(76,202,239); /* Old browsers */
	background: -moz-linear-gradient(left,  rgba(76,202,239,1) 0%, rgba(85,204,227,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left,  rgba(76,202,239,1) 0%,rgba(85,204,227,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right,  rgba(76,202,239,1) 0%,rgba(85,204,227,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4ccaef', endColorstr='#55cce3',GradientType=1 ); /* IE6-9 */
}
#tracker-compiled .part4 .gradient {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#55cce3+0,5eced6+100 */
	background: rgb(85,204,227); /* Old browsers */
	background: -moz-linear-gradient(left,  rgba(85,204,227,1) 0%, rgba(94,206,214,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left,  rgba(85,204,227,1) 0%,rgba(94,206,214,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right,  rgba(85,204,227,1) 0%,rgba(94,206,214,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#55cce3', endColorstr='#5eced6',GradientType=1 ); /* IE6-9 */
}
#tracker-compiled .part5 .gradient {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#5eced5+0,67d0c8+100 */
	background: rgb(94,206,213); /* Old browsers */
	background: -moz-linear-gradient(left,  rgba(94,206,213,1) 0%, rgba(103,208,200,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left,  rgba(94,206,213,1) 0%,rgba(103,208,200,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right,  rgba(94,206,213,1) 0%,rgba(103,208,200,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5eced5', endColorstr='#67d0c8',GradientType=1 ); /* IE6-9 */
}
#tracker-compiled .part6 .gradient {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#68d0c7+0,70d2bb+100 */
	background: rgb(104,208,199); /* Old browsers */
	background: -moz-linear-gradient(left,  rgba(104,208,199,1) 0%, rgba(112,210,187,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left,  rgba(104,208,199,1) 0%,rgba(112,210,187,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right,  rgba(104,208,199,1) 0%,rgba(112,210,187,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#68d0c7', endColorstr='#70d2bb',GradientType=1 ); /* IE6-9 */
}
#tracker-compiled .part7 .gradient {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#70d2bb+0,77d4b1+100 */
	background: rgb(112,210,187); /* Old browsers */
	background: -moz-linear-gradient(left,  rgba(112,210,187,1) 0%, rgba(119,212,177,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left,  rgba(112,210,187,1) 0%,rgba(119,212,177,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right,  rgba(112,210,187,1) 0%,rgba(119,212,177,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#70d2bb', endColorstr='#77d4b1',GradientType=1 ); /* IE6-9 */
}
#tracker-compiled .part8 .gradient {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#77d4b1+0,7cd5aa+100 */
	background: rgb(119,212,177); /* Old browsers */
	background: -moz-linear-gradient(left,  rgba(119,212,177,1) 0%, rgba(124,213,170,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left,  rgba(119,212,177,1) 0%,rgba(124,213,170,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right,  rgba(119,212,177,1) 0%,rgba(124,213,170,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#77d4b1', endColorstr='#7cd5aa',GradientType=1 ); /* IE6-9 */
}

#tracker-mixer {
	width: 100%;
	padding: 10px;
	background-color: #ffffff;
	border-radius: 8px;
}
#tracker-mixer .tracker-info h6 {
	margin: 4px 0 0 10px;
	line-height: 38px;
}
#tracker-mixer .tracker-info h6#level-blank {
	margin: 8px 0 0 10px;
}
#tracker-mixer .tracker-part {
	overflow: visible;
	color: #9f9f9f;
/*        opacity: 0.5; #mixer_opacity */
}
#tracker-mixer .tracker-part:hover,
#tracker-mixer .tracker-part:focus {
/*	color: #737373; #mixer_hover #mixer_focus
	text-decoration: none;
        opacity: 1;*/
}
#tracker-mixer .tracker-part:hover:before {
	content: ' ';
	display: block;
	position: absolute;
	top: -5px;
	bottom: -5px;
	left: -5px;
	right: -5px;
	border-radius: 8px;

	/*background: rgb(112,210,187); #mixer_hover *//* Old browsers */
	/*background: -moz-linear-gradient(top,  rgba(112,210,187,1) 0%, rgba(119,212,177,1) 100%); #mixer_hover */ /* FF3.6-15 */
	/*background: -webkit-linear-gradient(top,  rgba(112,210,187,1) 0%,rgba(119,212,177,1) 100%); #mixer_hover *//* Chrome10-25,Safari5.1-6 */
	/*background: linear-gradient(to bottom,  rgba(112,210,187,1) 0%,rgba(119,212,177,1) 100%); #mixer_hover */ /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#70d2bb', endColorstr='#77d4b1',GradientType=0 ); #mixer_hover */ /* IE6-9 */
}
.mixer-part {
	display: block;
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 38px;
	margin-top: 4px;
	border-radius: 4px;
	border: 1px solid #E8E8E8;
	background-color: #f3f3f3;
	text-align: center;
}
.mixer-part.empty {
	border-color: #E8E8E8!important;
	background-color: transparent!important;
}
.mixer-part.spacer {
	font-weight: 700;
	font-size: 12px;
	padding-top: 10px;
	border-color: transparent!important;
	background-color: transparent!important;
}
.mixer-part:first-child {
	margin-top: 0;
}

a:hover .mixer-part {
	color: #fff;
	border-color: #4bbea0;
	background-color: #4bbea0;
}
a:hover .mixer-part.empty {
	border-color: #4bbea0!important;
	background-color: transparent!important;
}
a:hover .mixer-part:not(.empty):not(.spacer):before {
	color: #fff;
	content: '►';
	position: absolute;
	font-size: 12px;
	font-weight: 700;
	bottom: 0px;
	left: 5px;
}
.mixer-part.vocals {
	border-color: #e3d7f1;
	background-color: #efebf4;
}
.mixer-part.drums {
	border-color: #f9e8de;
	background-color: #fcf4ef;
}
.mixer-part.bass {
	border-color: #d5e7e7;
	background-color: #eaf3f3;
}
.mixer-part.inst {
	border-color: #e9dbe1;
	background-color: #f4eef1;
}
.mixer-part.upperc {
	border-color: #e7f8f3;
	background-color: #f1fbf8;
}
.mixer-part.dtperc {
	border-color: #dff5fd;
	background-color: #f0fafe;
}
.mixer-part.drive {
	border-color: #f8f0d1;
	background-color: #fcf9ec;
}
.mixer-part.crash {
	border-color: #f9dee2;
	background-color: #fdeef0;
}

/*#page-content-wrapper .container-fluid {
	max-width: 1170px!important;
}*/

@media(min-width: 768px) {
	#page-content-wrapper .container-fluid {
		max-width: 760px;
	}
}
@media(min-width: 992px) {
	#page-content-wrapper .container-fluid {
		max-width: 970px;
	}
}
@media(min-width: 1200px) {
	#page-content-wrapper .container-fluid {
		max-width: 1170px;
	}
}

#tracker-mobile {	
	width: 250px !important;
	height: 503px !important;
	padding-top: 76px !important;
	padding-bottom: 69px !important;
	padding-left: 23px !important;
	padding-right: 21px !important;
	height: 100%;
	color: #788086;
	background-image: url(../assets/iphone.png);
	background-repeat: no-repeat;
	background-size: cover !important;
}

#tracker-mobile .btn-group {
	margin-top: 48px;
}

#tracker-mobile a:not(.btn) {
	color: #818a90;
}
#songname small {
    margin-left: 10px;
}
.editable-text > span:hover, .editable-text.songtitle > span:hover {
    color: #41c7ff;
}

.editable-text.songtitle > span:hover:after{
	content: "\f040";
    margin-left: 10px;
    font-family: FontAwesome;
    font-size:28px;
}
.editable-text > span:hover:after {
    content: "\f040";
    margin-left: 10px;
    font-family: FontAwesome;
}
.level.column.editable-text {
	font-size: 14px;
}
.level.column.editable-text > span:hover:after {
	position: absolute;
    top: 0;
    right: 7px;
}
.editable-text > input {
    width: 75%;
    vertical-align: baseline;
    line-height: 25px;
    height: 25px;
    font-size: 34px !important;
    padding: 0px !important;
    margin: 0px !important;
    top:0px !important;
    outline: none !important;
}
h6.editable-text > input {
	margin-left: -3px;
	width: 100%;
	font-size: 14px !important;
}

h6.editable-text span {
	white-space: nowrap;
	overflow: hidden;
}
.release_status_style{
	font-weight: bolder;
	font-size: 20px;
}

#release-progress{
	margin-top: 7px;
    float: right;
    margin-right: 10px;
    text-align: center;
    vertical-align: middle;
}

#release-progress > span {
	font-weight: normal;
    font-size: 20px;
}

.bpm {
	margin:0 auto;
	float:left;
}

.bpm_input {
	position: relative;
	padding: 0;
    margin: 11px 0 0 -1px;
    height: 30px;
	width: 60px;
    vertical-align: baseline;
    font-size: 20px !important;
    float: right;
    outline: none !important;
}

.bmp_margin {
	margin-left: 17% !important;
	margin:0 auto; 
	float:left;
}

.bmp_margin > label {
	font-weight: bolder;
    position: relative;
    padding: 15px 5px 15px 20px;
    margin: 0;
}

@media(max-width: 1200px) {
	.bmp_margin {
		margin-left: 13% !important;
	}
}

@media(max-width: 991px) {
	.bmp_margin {
		margin-left: 5% !important;
	}
}

.bpm > span:hover {
    color: #41c7ff;
    position: relative;
    padding: 15px 0px 14px 0px;
    float: right;
}

.bpm > span:hover:after {
    content: "\f040";   
    font-family: FontAwesome;
    font-size:20px;
    margin: 0px 0px 0px 5px;    
    padding: 0px;
}

.bpm > span{
	position: relative;
	padding: 15px 20px 15px 0px;
	margin: 0 10px 0px 0px;
	float: right;
}
.level.column.editable-text > input {
	width: 100%;
	height: 25px;
	line-height: 25px;
	text-align: center;
	font-size:14px !important;
}
.status-event:hover{
	cursor:pointer;
}
.songtitle input {
   	height: 41px;
    width: 300px;
    line-height: 27px;
}
.clearfix-custom{
	height:37px;
}
.focus > div > wave > wave {
	border-right-style: solid!important;
}
wave {
	border-right-style: none!important;
	overflow: hidden!important;
	height: 38px !important;
}
#top-play {
	font-size: 20px;
}
.fa.playing:before {
	content: '\f04c'!important;
}

#sidebar-wrapper {
	z-index: 1000;
	position: absolute;
	top: 118px;
	height: 100%;
	right: 30px;
	width: 250px;
	margin-right: -250px;
	 overflow-y: visible;
	 overflow-x: visible;
	-webkit-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
#tracker-mobile {
	 width: 240px;
	 padding: 0 0 0 0;
	 height: 447px;
	color: #788086;
	background-repeat: no-repeat;
}
#top-play {
	display: inline-block!important;
	position:relative;
}
.paused + wave > wave {
	border-right-style: solid!important;
}