<% controller.class.send(:layout, '8stem') %>
<div class="container">
  <% if opted_out? %>
      <p>Bailing?</p>
      <p>You have been unsubscribed from the 8Stem Beta Team mailing list.</p>
      <p>Sorry to see you go.</p>
  <% end %>
</div>